    # Data 
    data/raw/
    data/processed/
    data/augmented/
    data/splits/
    
    # Trained models
    saved_models/*.h5
    saved_models/*.pkl
    
    # Python environment
    venv/
    __pycache__/
    *.pyc
    .ipynb_checkpoints/
    
    # IDE
    .vscode/

